@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap');

/* Variables */
:root {
  --tablet-width: 768px;
  --desktop-width: 992px;
}

/* General */
body > *, html > *, *
{
	box-sizing: border-box;
	margin: 0; padding: 0;
	top: 0; left: 0;
	font-weight: 400;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	color: #03103a;
	margin: 0;
}
body{
	background-color: #ffce08;
}

::selection{
	background-color: rgba(0, 0, 0, .7);
	color: white;
}

/* Container */
.container{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 1rem;
}

/* Hero */
canvas {
	outline: none;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.hero {
	padding-top: 350px;
	text-align: center;
}
.hero img {
	width: 90px;
	opacity: 0.8;
}
.hero h1 {
	opacity: 0.7;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
	font-size: 48px;
	letter-spacing: -5px;
}
.hero h1 span {
	font-weight: 700;
	color: rgba(0, 0, 0, 1);
	letter-spacing: -7px;
}

/* Footer */
.footer {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}
.footer .contact {
	margin-bottom: 12px;
}
.footer p {
	font-weight: 700;
}

/* Content */
.content {
	padding-top: 280px
}
.section {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 1rem;
	text-align: left;
	margin-bottom: 2rem;
	padding-bottom: 3rem;
}
.section:last-child{
	border-bottom: none;
}

/* Presentation */
.presentation h4 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 14px;
	color: #292a30;
}
.presentation p {
	font-size: 18px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

/* Tag */
span.tag{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding: 4px 8px;
	border-radius: 6px;
	display: inline-block;
	margin-bottom: 35px;
}

/* Projects */
.projects span.tag{
	color: #e43df3;
	border: 1px solid #e43df3;
}

.item:last-child{
	margin-bottom: 0;
}
.item p{
	font-size: 18px;
}
.item .title{
	color: #292a30;
	font-weight: 700;
	text-decoration: none;
}

.item{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2rem;
}

.item .img{
	min-width: 50px !important;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background-color: #82858f;
	margin-right: 24px;
	border: 2px solid white;
	margin-right: 24px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px
}

/* Project Colors */
.item .img.trabajos{ background-color: #ff4114; }
.item .img.cultura{ background-color: #334459; }
.item .img.games{ background-color: #eb3030; }
.item .img.adult{ background-color: #242424; }
.item .img.tier{ background-color: #90A2F8; }
.item .img.draw{ background-color: #90A2F8; }
.item .img.notion{ background-color: #5222d0; }
.item .img img{
	width: 25px;
}


